# React Native
/node_modules/
/npm-debug.log
/yarn-error.log
/dist/
/build/
/logs/
*.log
package-lock.json
yarn.lock

# Metro Bundler
.expo/
.expo-shared/
.expo-dev/
.expo-web/
.expo-packager/

# TypeScript
*.tsbuildinfo

# Babel
.babelrc
.cache/
.tmp/

# macOS
.DS_Store

# VSCode
.vscode/

# Environment
.env
.env.*
!.env.example

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
xcuserdata/
*.xcworkspace/xcuserdata/
project.xcworkspace/xcuserdata/
project.xcworkspace/xcshareddata/*.xcscmblueprint
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# iOS — Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Android
android/.gradle/
android/app/build/
android/app/.cxx/
android/build/
android/.idea/
*.iml

# Gradle
.gradle/
local.properties
**/gradle-wrapper.jar

# NPM / Yarn
.pnpm-store/
.pnp/
.pnp.js

# Watchman
.watchmanconfig

# Jest
/coverage/
jest-cache/
jest-stare/

# Detox
artifacts/
e2e/*.log
e2e/*.png
e2e/*.mp4

# Bundled JS
*.bundle
*.map

# Misc
.tmp/
.cache/
logs/
*.orig